extends layout.pug
include ./utilities/mixin_navbar.pug
include ./utilities/mixin_follow-list-preview.pug

block content

  +navbar('main')
  .profile
    .profile__container
      .profile__header
        .profile__header_name: h1 #{user.fullName}
        .profile__header_social
          .profile__header_social-link: a(href=`/users/${user.id}/profile/following`) #{followingAmount} Following
          .profile__header_social-link: a(href=`/users/${user.id}/profile/followers`) #{followerAmount} Followers
        .profile__header_img: img(src="https://miro.medium.com/fit/c/256/256/0*CEn10raxv9BiN3oD" width="128" height="128")
      .profile__body
        .profile__body_tab: a(class="tab-a" href=`/users/${user.id}/profile`) Profile
        .profile__body_tab: a(class="tab-b" href=`/users/${user.id}/profile/claps`) Claps
        .profile__body_tab: a(class="tab-c" href=`/users/${user.id}/profile/responses`) Responses
      .profile__body_header: h1 #{user.fullName} is followed by
      .profile__body_follow-list
        each follower in followers
          .profile__body_follow-list-preview
            +follow-list-preview(follower.id, follower.fullName, follower.picUrl, "Following")

  script.
    const tab_a = document.querySelector(".tab-a");
    const tab_b = document.querySelector(".tab-b");
    const tab_c = document.querySelector(".tab-c");
    const profIcon = document.getElementById('navbar__prof-icon');
    const modal = document.getElementById('navbar__modal');
    profIcon.addEventListener('click', e => {
      modal.classList.toggle('hidden');
    });
    const tab_b = document.querySelector(".tab-b");
    tab_b.addEventListener("click", e => {
      tab_a.classList.remove(".tab--underline");
      tab_b.classList.add(".tab--underline");
    });
    const tab_c = document.querySelector(".tab-c");
    tab_c.addEventListener("click", e => {
      tab_a.classList.remove(".tab--underline");
      tab_c.classList.add(".tab--underline");
    });
  script(type="module" src="/js/profile.js")
