extends layout.pug
include ./utilities/mixin_navbar.pug

block content
  +navbar('main')
  #main
    #main__stories
      each suggestionStory, index in suggestionStories
        if index === 0
          if suggestionStory.imageUrl
            img(src=suggestionStory.imageUrl, alt="Photo of a suggested article.")
          else
            img(src="https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="")
          .main-suggestion-story 
            h2= suggestionStory.title
            .subtitle= suggestionStory.subtitle
            a(href=`/stories/${suggestionStory.id}`) Read More &#9733
        else
          .suggestion-story
            a(href=`users/${suggestionStory.userId}`)= suggestionStory.userId
            h3= suggestionStory.title
      
    #main__from-following
      p.section-title Latest From Following
    .hr
    #main__trends
      p.section-title Trending on Medium
      .trending__container
        .trending__story#1 trending story #1
        .trending__story#2 trending story #2
        .trending__story#3 trending story #3
        .trending__story#4 trending story #4
        .trending__story#5 trending story #5
        .trending__story#6 trending story #6
    .hr
    main#main__feeds
      .feeds-container
        .feeds-story#1 feeds story #1
        .feeds-story#2 feeds story #2
        .feeds-story#3 feeds story #3
        .feeds-story#4 feeds story #4
        .feeds-story#5 feeds story #5
        .feeds-story#6 feeds story #6
        .feeds-story#7 feeds story #7
        .feeds-story#8 feeds story #8
    aside
      #main__sidebar
        #main__readinglist
          p.section-title Reading List
        footer#main__footer footer(#main__footer)
  script.
    const profIcon = document.getElementById('navbar__prof-icon');
    const modal = document.getElementById('navbar__modal');
    profIcon.addEventListener('click', e => {
      modal.classList.toggle('hidden');
    });
  script(type="module" src="/js/main.js")