extends layout.pug
include ./utilities/mixin_navbar.pug

block content

  +navbar('main')
  -function dateFormatter(string) {
    -const date = new Date(string);
    -const monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -const month = monthNames[date.getMonth()];
    -const year = date.getFullYear();
    -const day = date.getDate();
    -return month+' '+day+', '+year;
  -};

  -function randomIcon() {
    -const icons = ['https://www.flaticon.com/svg/static/icons/svg/2729/2729001.svg','https://www.flaticon.com/svg/static/icons/svg/3612/3612081.svg','https://www.flaticon.com/svg/static/icons/svg/27/27106.svg','https://www.flaticon.com/svg/static/icons/svg/3603/3603989.svg','https://www.flaticon.com/svg/static/icons/svg/2933/2933488.svg','https://www.flaticon.com/svg/static/icons/svg/2689/2689183.svg','https://www.flaticon.com/svg/static/icons/svg/2726/2726422.svg','https://www.flaticon.com/svg/static/icons/svg/201/201811.svg'];
    -const randomNum = Math.floor(Math.random() * (icons.length - 1) + 1);
    -return icons[randomNum];
  -};

  #main
    #main__stories
      each suggestionStory, index in suggestionStories
        if index === 0
          if suggestionStory.imageUrl
            img(src=suggestionStory.imageUrl, alt="Photo of a suggested article.")
          else
            img(src="https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="")
          .main-suggestion-story 
            h2= suggestionStory.title
            .subtitle= suggestionStory.subtitle
            a(href=`/stories/${suggestionStory.id}`) Read More &#9733
        else
          .suggestion-story
            .left
              a(href=`/users/${suggestionStory.userId}`)
                img(src="https://www.flaticon.com/svg/static/icons/svg/2824/2824422.svg", alt="User icon")
                span #[strong #{suggestionStory.user.fullName}] in #[strong #{suggestionStory.user.username}]
              h3= suggestionStory.title
              p #{dateFormatter(suggestionStory.createdAt)}
            .right
              img(src=suggestionStory.imageUrl, alt="Photo of a suggested article.")
      
    #main__from-following
      p.section-title Latest From Following
      .following-users-container
    .hr
    #main__trends
      p.section-title Trending on Medium
      .trending__container
        each trendingStory, index in trendingStories
          .trending__story
            .left 0#{index + 1}
            .right
              a(href=`/users/${trendingStory.userId}`)
                img(src=randomIcon(), alt="")
                span #[strong #{trendingStory.user.fullName}] in #[strong #{trendingStory.user.username}]
              a(href=`/stories/${trendingStory.userId}`)
                h3= trendingStory.title
              p #{dateFormatter(trendingStory.createdAt)}

    .hr
    main#main__feeds
      .feeds-container
        each newStory in newStories
          .feeds-story
            a(href=`/users/${newStory.userId}`)
              img(src=randomIcon(), alt="User icon")
              span #[strong #{newStory.user.fullName}] in #[strong #{newStory.user.username}]
            a(href=`/stories/${newStory.userId}`)
              h3= newStory.title
              p= newStory.subtitle
            p #{dateFormatter(newStory.createdAt)}
    aside
      #main__sidebar
        #main__readinglist
          p.section-title Reading List
        footer#main__footer footer(#main__footer)
  script.
    const profIcon = document.getElementById('navbar__prof-icon');
    const modal = document.getElementById('navbar__modal');
    profIcon.addEventListener('click', e => {
      modal.classList.toggle('hidden');
    });
  script(type="module" src="/js/main.js")