extends layout.pug
include ./utilities/mixin_navbar.pug

block content
  +navbar('main')
  #story
    #story__body
      #story__header
        h1= story.title
      if story.subtitle
        #story__subtitle
        h1= story.subtitle
      else
        div(class="subtitle")
      #story__userDiv
        div(class="userInfo")
          div(class="userPic")
            img(src="https://miro.medium.com/fit/c/128/128/1*02N7QU6pjxuAZmBh-laQWA.jpeg")
          div(class="fullNameDiv")
            p=user.fullName
          div(class="followBtnDiv")
            button(type="button" class="followBtn") Follow
          div(class="date")
            p=story.createdAt
            p=year
        div(class="social-list")
          a(class="social-list__link")
            i(class="fab fa-linkedin" id="social-list__link")
          a(class="social-list__link") Twitter
          a(class="social-list__link") LinkedIn
          a(class="social-list__link") Facebook
          a(class="social-list__link") Github
      #story__contents
        p= story.body
      footer#splash__footer
