include story-utils.pug
input(type='hidden' name='_csrf' value=csrfToken)
+form-group('title', 'Title', 'Title')
+form-group('subtitle', 'Subtitle', 'Subtitle')
+form-group('body', 'Body', 'Tell your story...', true)

//- input(type='hidden' name='_csrf' value=csrfToken)
//- div
//-   label(for='title') #{Title}
//-     input(type='text' id='title' name='title')
//- div
//-   label(for='subtitle') #{Subtitle}
//-     input(type='text' id='subtitle' name='subtitle')
//- div
//-   label(for='body') #{Body}
//-     textarea(id='body' name='body' rows='5', 'Tell your story...')
