mixin form-group(fieldName, labelText, fieldValue, placeholder, isMultiline)
  div
    label(for=fieldName) #{labelText}
    if isMultiline
      textarea(id=fieldName name=fieldName placeholder=placeholder rows='5')= fieldValue
    else
      input(type='text' id=fieldName name=fieldName value=fieldValue, placeholder=placeholder)
