nav#navbar
  #navbar__contents
    .left-contents
      a(href="/main"): h1 Readium
      p.greeting
    #rightContents
      div(class="rightContents__icons")
        img(id="navbar__prof-icon" src="")
        #navbar__modal.hidden
          .modal__header
            img(class="modal__prof-pic" src="")
            .modal__member-info
              .modal__member-info-name: a(href="")
              .modal__member-info-username: a(href="")
          .modal__contents
            ul
              li: a(class="nav-new-story-link" href="/stories/create") New Story
              li: a(class="nav-user-stories" href="") Stories
              li: a(class="nav-profile-link" href="") Profile
              li: a(class="nav-profile-sign-out" href="/") Sign out
        script.
          //- const nav = document.getElementById('navbar');
          //- nav.classList.remove('shadow');
          const newStoryLink = document.querySelector(".nav-new-story-link");
          const userStoriesLink = document.querySelector(".nav-user-stories");
          const profileLink = document.querySelector(".nav-profile-link");
          const profileNavImg = document.querySelector(".modal__prof-pic");
          const profileDropdownImg = document.querySelector("#navbar__prof-icon");
          const profileFullName = document.querySelector(".modal__member-info-name")
          const profileUserName = document.querySelector(".modal__member-info-username")
          const userId = localStorage.getItem("READIUM_CURRENT_USER_ID", );
          const picUrl = localStorage.getItem(`READIUM_CURRENT_USER_PIC_URL`);
          const fullName = localStorage.getItem("READIUM_CURRENT_USER_FULLNAME");
          const username = localStorage.getItem("READIUM_CURRENT_USER_USERNAME");
          profileNavImg.setAttribute("src", `${picUrl}`);
          profileDropdownImg.setAttribute("src", `${picUrl}`);
          newStoryLink.setAttribute("href", `/stories/create`);
          userStoriesLink.setAttribute("href", `/users/${userId}/profile`);
          profileLink.setAttribute("href", `/users/${userId}/profile`);
          profileFullName.innerText = `${fullName}`;
          profileUserName.innerText = `@${username}`
          const greetingContainer = document.querySelector('.greeting');
          const currentTime = new Date().getHours();
          document.querySelector(".nav-profile-sign-out")
            .addEventListener("click", e => {
              localStorage.clear();
            })

          if (currentTime < 12) greetingContainer.innerHTML = 'Good morning <i class="far fa-sun"></i>';
          else if (currentTime < 18) greetingContainer.innerHTML = 'Good afternoon <i class="fas fa-rainbow"></i>';
          else greetingContainer.innerHTML = 'Good evening <i class="far fa-moon"></i>';
        #navbar__prof-icon
        button(type="submit" class="beans publishBtn" ) Publish
      #navbar__modal.hidden
        .modal__header
          .modal__prof-pic
          .modal__member-info Member<br>User's name<br>username
        .modal__contents
            ul
              li: a(class="nav-new-story-link" href="") New Story
              li: a(class="nav-user-stories" href="") Stories
              li: a(class="" href="") Reading List
              li: a(class="nav-profile-link" href="") Profile
              li: a(class="" href="") Sign out
